@(order: models.Order)
@import java.math.BigInteger; var quantity=0;



@webshop.index("Your Order", "Order ID: " + order.getId){

@for(product <- order.getProducts()){
<pre data-line="@product.getProduct().getId"><span class="line">@product.getProduct().getId</span><span class="code"><a href="/product/@product.getProduct().getId()">@product.getProduct().getName()</a><span class ="qty2">@product.getQuantity()</span></span></pre>	
}


@for(product <- order.getProducts()){
	@{quantity = quantity + product.getQuantity()}
}

Nr of Products: @quantity  <br>
This Order ID: @order.getId() <br>
Date of this Order: @order.getDate() <br>
Total Price: @order.getCost() <br>

 
}