@(user: models.User)


@if(user.getProductsInCart.size() == 1){
@webshop.index("Your Cart", "You have " + user.getProductsInCart.size() + " product in your cart"){
@for(product <- user.getProductsInCart){
<pre data-line="@product.getId"><span class="line">@product.getId</span><span class="code"><a href="/product/@product.getProduct().getId()">@product.getProduct().getName()</a></span></pre> 	
}}
}
@if(user.getProductsInCart.size() != 1) {
@webshop.index("Your Cart", "You have " + user.getProductsInCart.size() + " products in your cart"){
@for(product <- user.getProductsInCart){
<pre data-line="@product.getId"><span class="line">@product.getId</span><span class="code"><a href="/product/@product.getProduct().getId()">@product.getProduct().getName()</a></span></pre> 	
}}	
}
